Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.cherniaev\.com$ [NC]
RewriteRule ^(.*)$ https://cherniaev.com/$1 [R=301,L]
RewriteBase /
RewriteCond %{HTTP:X-HTTPS} !1
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
